pytorch_lightning==1.2.6
omegaconf==2.0.6
numpy==1.19.2
hydra_core==1.0.6
torchvision==0.9.1
torch==1.8.1
pandas==1.2.3
tqdm==4.59.0
ood_metrics==0.2.9
hydra==2.5
Pillow==8.2.0
PyYAML==5.4.1
scikit_learn==0.24.1
